<div class="govuk-width-container">
    <div class="govuk-notification-banner govuk-!-margin-top-6 govuk-!-margin-bottom-0" role="region"
        aria-labelledby="govuk-notification-app-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-app-banner-title">
                Get the app
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
                Download
                <a class="govuk-notification-banner__link"
                    href="https://www.apprenticeships.gov.uk/apprentices/download-your-apprenticeship-app"
                    target="_blank">Your
                    Apprenticeship app</a> to better manage your
                apprenticeship on the go
            </p>
        </div>
    </div>
</div>