@using SFA.DAS.ApprenticePortal.SharedUi.Home
@model SFA.DAS.ApprenticePortal.Web.Pages.HomeModel

<div asp-notification="HomeNotification.ApprenticeshipMatched" class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
            You have created an account and we have found your apprenticeship.
        </h3>
        <p class="govuk-body">You now need to <a asp-external-section="ConfirmMyApprenticeship">confirm your apprenticeship details</a></p>
    </div>
</div>

<div asp-show="@Model.CurrentApprenticeship?.DisplayJustStoppedInfoMessage" class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
            @Model.CurrentApprenticeship?.EmployerName has stopped your apprenticeship.
        </h3>
        <p class="govuk-body">Your employer has stopped your @Model.CurrentApprenticeship?.CourseName apprenticeship. <a asp-external-section="ConfirmMyApprenticeship">Check your apprenticeship details</a>.</p>
    </div>
</div>