@using SFA.DAS.ApprenticePortal.SharedUi.Home
@model SFA.DAS.ApprenticePortal.Web.Pages.HomeModel

@if (Model.HomePageModel?.Revisions != null && Model.HomePageModel?.Revisions.Count > 0) 
{
    <h2 class="govuk-heading-m">My apprenticeship timeline</h2>

    <ul class="das-timeline">
        @foreach (var revision in Model.HomePageModel.Revisions)
        {
            <li class="das-timeline__item">
                <h2 class="das-timeline__title">
                    @revision.Heading
                </h2>
                <p>@revision.Description</p>
                <p class="das-timeline__date">
                    @if (@revision.RevisionDate.HasValue)
                        @revision.RevisionDate.Value.ToString("dd MMM yyyy")
                </p>
            </li>
        }
    </ul>
}