@page
@model SFA.DAS.ApprenticePortal.Web.Models.NoBannerModel
@{
    ViewData["Title"] = "Accessibility";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Accessibility statement</h1>
        <p class="govuk-body">This accessibility statement applies to Confirm my apprenticeship details.</p>
        <p class="govuk-body">This website is run by the Department for Education. We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>change colours, contrast levels and fonts</li>
            <li>zoom in up to 300% without the text spilling off the screen</li>
            <li>navigate most of the website using just a keyboard</li>
            <li>navigate most of the website using speech recognition software</li>
            <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
        </ul>
        <p class="govuk-body">We’ve also made the website text as simple as possible to understand.
            <br />
            <br />
            <a href="https://mcmw.abilitynet.org.uk/" target="_blank">AbilityNet (opens in a new tab)</a> has advice on making your device easier to use if you have a disability.
        </p>
        <h1 class="govuk-heading-l">How accessible this website is</h1>
        <p class="govuk-body">Parts of this website are not fully accessible. For example:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>some buttons are not correctly identified</li>
            <li>some labels do not link to the radio buttons</li>
            <li>some of the hint text ID descriptions need to be updated</li>
        </ul>
        <p class="govuk-body">
            Each department and agency which publishes content on GOV.UK is responsible for making sure it meets the accessibility regulations. We will update the statement when issues are fixed or when we expect them to be fixed.
        </p>
        <h1 class="govuk-heading-l">Feedback and contact information</h1>
        <p class="govuk-body"> 
            <a href="https://www.gov.uk/contact/govuk">Tell us if you need information in a different format.</a>
            <br /><br />
            In your message, include:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>the web address (URL) of the content</li>
            <li>your email address and name</li>
            <li>the format you need - for example, plain text, braille, BSL, large print or audio CD</li>
        </ul>
        <p class="govuk-body">
            You can also view the organisation’s <a href="https://www.gov.uk/search/all?parent=&keywords=%22accessible+document+policy%22&level_one_taxon=a544d48b-1e9e-47fb-b427-7a987c658c14&level_two_taxon=&manual=&public_timestamp%5Bfrom%5D=&public_timestamp%5Bto%5D=&topical_events=&order=relevance">accessible document policy</a> to report any problems or request documents in an alternative format.
        </p>
        <h1 class="govuk-heading-l">Reporting accessibility problems with this website</h1>
        <p class="govuk-body">
            We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, <a href="https://www.gov.uk/contact/govuk">contact us</a>.
        </p>
    </div>
</div>
