@page
@model SFA.DAS.ApprenticePortal.Web.Pages.HomeModel
@using SFA.DAS.ApprenticePortal.SharedUi.Identity
@{ ViewData["Title"] = "Welcome"; }

@section Head {
    <link href="~/css/homepage.css" media="screen" rel="stylesheet" no-cdn />
}

<h1 class="govuk-heading-xl">
    Welcome, @User.FullName()
    <span class="govuk-caption-m">@Model.CourseName</span>
</h1>
           
<partial name="_HomeNotifications" />

<div class="govuk-grid-row homepage">
    <div class="govuk-grid-column-two-thirds">
        <ul class="dashboard-nav dashboard-li">
            <li asp-for-external-section="ConfirmMyApprenticeship">

                @if (Model.ApprenticeshipComplete)
                {
                    <strong class="govuk-tag govuk-tag--green">COMPLETE</strong>
                }
                else
                { 
                    <strong class="govuk-tag govuk-tag--yellow">INCOMPLETE</strong>
                }

                <h2 class="govuk-heading-m">Confirm my apprenticeship details</h2>
                <p>View your current apprenticeship details and understand what to expect during your apprenticeship.</p>
                <p><a class="govuk-link" asp-external-section="ConfirmMyApprenticeship" asp-external-page="Apprenticeships">Confirm your apprenticeship now</a></p>
            </li>
            <li>
                <h2 class="govuk-heading-m">Help and support</h2>
                <p>If you have any questions or need support during your apprenticeship, guidance can be found in the <a class="govuk-link" asp-page="HelpAndSupport" model="Model">help and support section</a>.</p>                        
            </li>
        </ul>
    </div>
</div>
