@page
@using SFA.DAS.ApprenticePortal.SharedUi.Menu
@model SFA.DAS.ApprenticeCommitments.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Access your apprenticeship";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
        <p>
            If you're using an apprentice, use this service to:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>view your apprenticeship details</li>
            <li>understand what’s expected of your employer and your training provider during your apprenticeship</li>
            <li>get support about your apprenticeship</li>
            <li>join the apprenticeship ambassador network</li>
            <li>give feedback on your training provider</li>
        </ul>
        <div class="govuk-inset-text">
            You need a GOV.UK One Login to sign in to this service. You can create one if you do not already have one.
        </div>
        <a href="@Model.StartUrl" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2" data-module="govuk-button">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg"
                 width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
        </a>        
    </div>
</div>
